<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--Account Name : Azure Stroge Account Name -->
      <setting name="AccountName" value="[Account Name]" />
      <!--Account key : Azure Primary Access Key-->
      <setting name="AccountPrimaryKey" value="[Account key]" />
      <!--Endpoints Protocol : https-->
      <setting name="EndpointsProtocol" value="[Endpoints Protocol]" />
      <!--Container Name : blob Name-->
      <setting name="ContainerName" value="cdn" />
      <!--Sync Folder : inner container-->
      <setting name="SyncFolder" value="sync" />
      <!--Origin Prefix : Name of Azure blob with full path or CDN endpoint-->
      <setting name="OriginPrefix" value="https://AccountName.blob.core.windows.net/cdn" />
      
      <setting name="Media.MediaLinkServerUrl" value="true"/>
      <setting name="Media.RequestExtension" value=""/>
    </settings>

    <processors>
      <!-- Custom Pipeline to attach file -->
      <attachFile>
        <processor mode="on" type="MediaLibrary.Azure.CDN.UpdateMedia,AzureCDN" />
      </attachFile>
    </processors>
    
    <pipelines>
      <!-- Custom Pipeline to Process Media Items -->
      <publishItem>
        <processor type="MediaLibrary.Azure.CDN.CdnPublish,AzureCDN"
      patch:before="processor[@type='Sitecore.Publishing.Pipelines.PublishItem.PerformAction, Sitecore.Kernel']">
          <!--If yes, this custom CDN publishing processor will be executed otherwise not. Values: yes|no-->
          <Enabled>yes</Enabled>
        </processor>
      </publishItem>
    </pipelines>

    <mediaLibrary>
      <mediaProvider>
        <patch:attribute name="type">MediaLibrary.Azure.CDN.MediaProvider, AzureCDN</patch:attribute>
      </mediaProvider>
    </mediaLibrary>
    
    <log4net>
      <appender name="CDNLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/logs/cdnUploading.log.{date}.txt" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
        </layout>
        <encoding value="utf-8" />
      </appender>
      <logger name="Sitecore.Diagnostics.cdnUploading" additivity="false">
        <level value="INFO" />
        <appender-ref ref="CDNLogFileAppender" />
      </logger>
    </log4net>
    
  </sitecore>
</configuration>
